<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
  </head>
  <body>
    <%- include('../partials/navigation')%>

    <div class="container">
      <h4 class="row justify-content-center" id="indikaattoriOtsikko">Veden lämpotilan indikaattori</h4>
      <div class="row justify-content-center">
        <h2 style="background-color: rgb(184, 218, 255)" id="indikaattori">
          +0
        </h2>
        <h2 style="background-color: rgb(190, 229, 235)" id="indikaattori">
          +5
        </h2>
        <h2 style="background-color: rgb(195, 230, 203)" id="indikaattori">
          +10
        </h2>
        <h2 style="background-color: rgb(255, 238, 186)" id="indikaattori">
          +15
        </h2>
        <h2 style="background-color: rgb(245, 198, 203)" id="indikaattori">
          +20
        </h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 table-responsive-sm justify-content-center">
          <table class="table">
            <tr class="bg-light">
              <th>Mittausaika</th>
              <th>Paikka</th>
              <th>Veden lämpötila</th>
              <th>Ilman lämpötila</th>
            </tr>

            <% json.forEach(function(unit){ %> <% if (unit.vedenlampotila < 5 )
            { %>
            <tr class="table-primary">
              <td>
                <%= unit.aika.slice(8, 10) + "." + unit.aika.slice(5, 7) + "." +
                unit.aika.slice(0, 4)%> <br />
                <%= unit.aika.slice(11, 16)%>
              </td>
              <td><%= unit.paikka %></td>
              <td><%= unit.vedenlampotila %></td>
              <td><%= unit.ilmanlampotila %></td>
            </tr>

            <%} else if (unit.vedenlampotila < 10 && unit.vedenlampotila > 5) {
            %>

            <tr class="table-info">
              <td>
                <%= unit.aika.slice(8, 10) + "." + unit.aika.slice(5, 7) + "." +
                unit.aika.slice(0, 4)%> <br />
                <%= unit.aika.slice(11, 16)%>
              </td>
              <td><%= unit.paikka %></td>
              <td><%= unit.vedenlampotila %></td>
              <td><%= unit.ilmanlampotila %></td>
            </tr>

            <%} else if (unit.vedenlampotila < 10 && unit.vedenlampotila > 15) {
            %>

            <tr class="table-success">
              <td>
                <%= unit.aika.slice(8, 10) + "." + unit.aika.slice(5, 7) + "." +
                unit.aika.slice(0, 4)%> <br />
                <%= unit.aika.slice(11, 16)%>
              </td>
              <td><%= unit.paikka %></td>
              <td><%= unit.vedenlampotila %></td>
              <td><%= unit.ilmanlampotila %></td>
            </tr>

            <%} else if (unit.vedenlampotila < 15 && unit.vedenlampotila > 20) {
            %>

            <tr class="table-warning">
              <td>
                <%= unit.aika.slice(8, 10) + "." + unit.aika.slice(5, 7) + "." +
                unit.aika.slice(0, 4)%> <br />
                <%= unit.aika.slice(11, 16)%>
              </td>
              <td><%= unit.paikka %></td>
              <td><%= unit.vedenlampotila %></td>
              <td><%= unit.ilmanlampotila %></td>
            </tr>

            <%} else { %>
            <tr class="table-danger">
              <td>
                <%= unit.aika.slice(8, 10) + "." + unit.aika.slice(5, 7) + "." +
                unit.aika.slice(0, 4)%> <br />
                <%= unit.aika.slice(11, 16)%>
              </td>
              <td><%= unit.paikka %></td>
              <td><%= unit.vedenlampotila %></td>
              <td><%= unit.ilmanlampotila %></td>
            </tr>

            <% } %> <% })%>
          </table>
        </div>
      </div>
    </div>

    <%- include('../partials/footer')%>
  </body>
</html>
